# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Cloned Repositories for dynamic analysis
cloned_repos/
